<div>
	<div id="cycle-image" class="shadow">
	  <div id="display-text">
		  	May The Force Be With You!
		  	<br><br>
		  	 - STAR WARS
	  </div> 
	</div>
</div>

<%= javascript_include_tag "inspiration" %>